/***************************Element styles **************************/

body {
  background-color: #1a1c2c;
  margin: 0;
  text-align: center;
  font-size: 120%
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
  color: #FB2576;
  font-family: 'Silkscreen', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #FB2576;
  font-family: 'Silkscreen', cursive;
  font-size: 2.5rem;
  margin: 0, 0, 30px, 0;
}

h3 {
  font-size: 2rem;
  color: #38b764;
  font-family: 'Silkscreen', cursive;
  margin: 30px, 0, 30px, 0;
}

hr {
  border-color: #a7f070;
  width: 75%;
  margin: 10px auto 10px;
  align-self: center;
}

p {
  font-family: 'Roboto Mono', monospace;
  color: #FB2576;
  font-size: 1.25rem;
}



/***************************Class styles **************************/

.top-container {
  background-color: transparent;
  margin: 0;
  padding-bottom: 100px;
  position: relative;
  background-image: url("GreenFlame.png");
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 1% 10% 1%;
}

#logo-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

#logo-text:hover{
  color:#a7f070;
}

.navbar-nav li:hover a{
  color:#FB2576;
}


/**********************INTRO SECTION**/
.imgbox{
  z-index: 2;
  margin: 0 auto auto 15px;
}

.imgbox img{
  position: relative;
  width: 269px;
  height: 214px;
  animation: 3s linear 0s infinite alternate animateUser;
}

@keyframes animateUser{
  from {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  to {
    transform: translateX(-20px);
    transform: translateY(20px);
  }
}

.intro {
  color: #FB2576;
  z-index: 2;
}


.multiText{
  color:#a7f070
}

.titleline {
  width: 20%;
}

.intro-box {
  background: rgba(10, 10, 10, 0.45);
  width: 500px;
  height: 270px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.fade-in {
  animation: fadeIn ease 5s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/******************MIDDLE SECTION**/

.middle-container{
  background-color: #1a1c2c;
  margin-top: 30px;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

.skills-container{
  background-color: #1a1c2c;
  margin-top: 30px;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

.title-header{
  margin: 20px, auto, auto, 20px;
  text-align: right;
}

.skillimg {
  height: 150px;
  width: 150px;
  margin: 10px, 0, 10px;
  filter: url(#noise);

}

.skillimg:hover{
  animation: pulse 800ms ease-in-out;
}

@keyframes pulse {
  from, to{
    scale: 1;
  }
  
  50% {
    scale : 1.08;
  }
}


/******************PROJECT SECTION**/
#projects {
  text-align: center;
  background-color: #333c57;
  color: #fff;
}

.projects-title{
  background-color: #1a1c2c;
  padding: 20px 20px;
}

.galaxyshooter-img {
  width: 30%;
  margin: 20px;
}
.project-img {
  width: 50%;
  margin: 20px;
}

.carousel-item{
  padding: 3% 10%;
}

.control-button {
  color: #38b764;
}

.control-button:hover {
  color: #FB2576;
}

/******************FOOTER SECTION**/

.footer-icon {
  padding: 20px;
  color: #38b764;
}

.footer-icon:hover{
  color:#FB2576;
}
/***************************ID styles **************************/
